
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 40px;
    background-color: #f2f2f2;
    z-index: 1;
}
.container {
    max-width: 1300px;
    margin: 0;
    padding: 20px;
    z-index: 3;
}

.description {
    width: 700px;
    text-align: justify;

    margin-bottom: 80px;
}

.logged-in-user {
    position: fixed;
    top: 10px;
    right: 10px;
}

header {
    background-color: rgb(9, 64, 90);
    color: #fff;
    padding: 0px 0;
    margin-left: 210px;
    position:fixed;
    top: 0;
    z-index: 3;
}
.logo img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 100px;
    
}
.search {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
h4{
    font-size:x-small;
}
.search input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.search input[type="button"]:hover{

    background-color: #564caf;
    
    }
    .search input[type="button"]{
        padding: 8px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;
    
    }
.search-sidebar input[type="text"]{

    width: 170px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px; 
}
.search-sidebar input[type="submit"]:hover{

background-color: #564caf;

}
.search-sidebar input[type="submit"]{
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;

}


.search button {
    padding: 8px 20px;
    background-color: #564caf;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover{

    background-color: #4CAF50;

}
.dropdowns {
    display: flex;
    align-items: center;
    margin-left: 220px;
}
.dropdowns select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.user-options a {
    color: #fff;
    text-decoration: solid;
    margin-left: 20px;
    cursor: pointer;
    display:inline;
    text-transform: capitalize;


}

.user-options a:hover{
    color: #4CAF50;
}

.user-options img{
    width:3%;
    height: 3%;
    border-radius: 100%;
}
.sidebar {
    background-color: rgb(16, 104, 145);
    color: #fff;
    width: 180px;
    padding: 20px;
    position: fixed;
    top: 0px;
    bottom: 0;
    z-index: 4;
    
}
.sidebar-menu {
    list-style-type: none;
    padding: 0;
}
.sidebar-menu li {
    margin-bottom: 10px;
}
.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.sidebar-menu li a:hover {
    background-color: #444;
}
main {
    height: auto;
    margin-left: 210px;
    padding-top: 150px;
    padding-left: 10px;
    background-color: rgb(197, 219, 230);
}
footer {
    background-color: rgb(9, 64, 90);
    color: #fff;
    padding: 2px 0;
    text-align: center;
    width: auto;
    height: auto;
    margin-left: 210px;
}

.info-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);  
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 320px;
    right: 30px;

    z-index: 2;
}

.info-box, .info-box-2 p {
    text-align: left;
    color: rgb(37, 37, 37);
}

.info-box-2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);  
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 900px;
    right: 30px;

    z-index: 2;
}

.buttons {
    display: block;
}

.buttons a {
    text-decoration: none;
}

.buttons button {
    border: none;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
}