body {
    font-family:'Times New Roman', Times, serif, sans-serif;
    background-color:rgb(216, 189, 154);
    margin: 0;
    padding: 0;
}

form {
    width: 40%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

fieldset {
    border: none;
}

table {
    width: 100%;
}

table tr {
    margin-bottom: 10px;
}

table td {
    padding: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="submit"],
input[type="radio"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
