body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1e78c;
    color: #333;
}

form {
   margin-left: 19%;
   margin-top: 40px;
   margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

fieldset {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
