body {
    font-family: Arial, sans-serif;
    background-color: #7879c2;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

fieldset {
    border: none;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #7879c2;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

input[type="checkbox"] {
    margin: 0 auto;
}

input[type="submit"], button[type="button"] {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #7879c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, button[type="button"]:hover {
    background-color: #45a049;
}
