body {
    font-family:'Times New Roman', Times, serif, sans-serif;
    background-color:rgb(174, 224, 164);
    margin: 0;
    padding: 0;
}

form {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

fieldset{

    border: none;
}


table {
    width: 100%;
}

table td {
    padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.link {

    margin:  10px;
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.50s ease;
}

a:hover {
    color: #000000;
}
