

body {
    font-family: Arial, sans-serif;
    background-color: #f3bc69;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

fieldset{
    width: 80%;
margin : 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}
