body {
    font-family: Arial, sans-serif;
    background-color: #89dada;
    margin: 0;
    padding: 0;
}

form {
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

fieldset {
    border: none;
}

legend {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

h3 {
    color: #333;
    margin: 0;
}

input[type="file"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #89dada;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
