.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

body{
    background-color: coral;
}

form
{
    border-radius: 10px;

}

input[type="text"],
input[type="number"],
input[type="date"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
